.container-fluid {
    margin-top: 2%;
    margin-bottom: 2%;
}

.form-check-input{
margin-left: -16px;
margin-top: 7px;
}

.image1 {
    width: 200px;
}

.image2 {
    width: 350px;
}



h5 {
    margin-top: 3px;
    color: white;
}

.table {
    background-color: white;
}

.offre {
    background-image: url(https://previews.123rf.com/images/stockdeca/stockdeca1708/stockdeca170800021/85308521-ballon-de-football-sur-l-herbe-verte-banni%C3%A8re-illustration-de-rendu-3d.jpg);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    height: 130px;
}

h4 {
    font-size: 30px;
    text-align: center;
    color: white;
}

.matchs {
    background-image: url(https://previews.123rf.com/images/stockdeca/stockdeca1708/stockdeca170800021/85308521-ballon-de-football-sur-l-herbe-verte-banni%C3%A8re-illustration-de-rendu-3d.jpg);
    height: 100px;
    border: solid grey 2px;
}

.textmatch {
    text-shadow: 1px 1px 10px floralwhite;
    /* box-shadow: 1px 1px 10px cyan; */
    font-size: 50px;
    margin-left: 7%;
    margin-top: 7px;
}

.histoire {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.stadelievin {
    margin-left: 25%!important;
}

.para {
    margin-left: 2%;
}

@media screen and (max-width: 812px) {
    .textmatch {font-size: 28px; font-style: italic; font-weight: 500; text-shadow: 1px 1px 10px grey;}
}

.wheat {
    background-color: wheat;
}